body {
    font-family: roboto;
    background:pink;
}

a {
    text-decoration:none;
    color:white;
    margin-left:10px;
}

header {
        background-image: url("header.png");
        background-size:cover;
        height:800px;
        width:auto;
        text-align:center;
        vertical-align:middle;
        color:white;
}

h1 {
    border: 10px solid white;
    font-size: 80px;
    display:inline-block;
    margin-bottom:20px;
    vertical-align:middle;
    padding:5px;
}


