body {
    font-family: roboto;
    background:pink;
}

a {
    text-decoration:none;
    color:white;
    text-align:right;
    margin-left:10px;
    display:inline-block;
}

#image{
    float:left;
}

header {
        background-color:pink;
        background-size:cover;
        height:800px;
        width:auto;
        text-align:center;
        color:white;
}

h1 {
    border: 10px solid white;
    font-size: 80px;
    display:inline-block;
    margin-bottom:0px;
    padding:5px;
}

#subtitle{
    font-size: 30px;
}






