body {
    font-family: roboto;
    background:pink;
}

a {
    text-decoration:none;
    color:white;
}

header {
    background-image: url("header.png");
    background-size:cover;
    height:800px;
    width:auto;
    text-align:center;
    span {
        display:inline-block;
        
}
}


